# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment variables
.env
*.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Virtual environment
venv/
ENV/
